.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin: 10px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
    border: 1px solid #95A0A7;
    border-radius: 6px;
    margin: 5px;
}

.product-name{
    margin-left: 14px;
    margin-top: 0px;
    margin-bottom: 14px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    color: #0E161A;
    font-size: 20px;
}
.product-info p{
    margin-left: 14px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.btn-cart{
    background-color: rgb(181, 119, 5);
    color: white;
    position: absolute;
    width: 100%;
    bottom:0;
    margin-top: 10px;
}
.btn-cart:hover{
    background-color: orange;
    border-radius: 0;
    cursor: pointer;
}